# Enable trading
ENABLE_TRADING=true
# Signal only
SIGNAL_ONLY=false
# Jito
JITO=false
MAINNET_RPC_URL=https://mainnet.block-engine.jito.wtf
# Pumpoortal
PUMPFUN_API_URL=https://pumpportal.fun/api/trade-local
# RPC & WEBSOCKET ENDPOINTS 
SOLANA_RPC=
SOLANA_WEBSOCKET=
SOLANA_RPC_2=
SOLANA_WEBSOCKET_2=

# Bitquery
BITQUERY_URL=
BITQUERY_API_KEY=
#koynlabs@gmail.com
BALANCE_BITQUERY_TOKEN=
# ENV varibles added on initialization
TOKEN_DECIMALS=6
# sol_spl
TRADE_TYPE=sol_spl
# Open AI
OPENAI_KEY=
